<h1>Welcome the to About Page</h1>

<p>The essential themes and even some of the language of the Gettysburg Address were not new; Lincoln himself,
    in his July 1861 message to Congress, had referred to the United States as “a democracy–a government of the people,
    by the same people.” The radical aspect of the speech, however, began with Lincoln’s assertion that the Declaration
    of Independence–and not the Constitution–was the true expression of the founding fathers’ intentions for their new
    nation. At that time, many white slave owners had declared themselves to be “true” Americans, pointing to the fact
    that the Constitution did not prohibit slavery; according to Lincoln, the nation formed in 1776 was “dedicated to
    the proposition that all men are created equal.” In an interpretation that was radical at the time–but is now taken
    for granted–Lincoln’s historic address redefined the Civil War as a struggle not just for the Union, but also for
    the principle of human equality.</p>

<hr />
<h4><a href="{% url 'home' %}">Start Word Count!</a></h4>